# This is a sample of the private/secrets envrionment variables
# Copy this file and rename to .env before adding actual values

# For passwords, avoid any special characters.  Stick to a-z A-Z 0-9 _ - @
# and just make it long (at least 32 characters)

# SECRETS_PASSWORD is a password used to encrypt secret files and also the IOS keychain
SECRETS_PASSWORD=XXXXX12345

#Android related secrets
ANDROID_KEYSTORE_PASSWORD=XXXXX12345

# either prod or uat
# This should be set via the CD/CI pipeline scripts or yaml file, NOT in the environment variables
# Note: For this project uat, staging or dev all point to the same environment
FLAVOR=uat